<!-- Button -->
<button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" [attr.data-bs-target]="'#editIdi-' + idi.id">
    
    <i class="bi bi-pencil-square"></i>
</button>

<!-- Modal -->

<div class="modal fade" [attr.id]="'editIdi-' + idi.id" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title fs-5">Editar idioma</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="m-3">
                <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">

                    <div class="form-group">
                        <label for="nombreI">Idioma:</label>
                        <input type="text" class="form-control" id="nombreI" name="nombreI" [(ngModel)]="idi.nombreI" required>
                        
                    </div>
                    <div class="form-group">
                        <label for="nivelI">Nivel:</label>
                        <input type="text" class="form-control" id="nivelI" name="nivelI" [(ngModel)]="idi.nivelI" required>
                    </div>

                    <div class="form-group">
                        <label for="porcentajeI">Porcentaje que conoces el idioma:</label>
                        <input type="text" class="form-control" id="porcentajeI" name="porcentajeI" [(ngModel)]="idi.porcentajeI" required>
                    </div>
                    
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary btn-sm" data-bs-dismiss="modal">Actualizar</button>
                        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cancelar</button>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>


