<article class="container-fluid" id="skills">
    <hr class="lila">
    <div class="row justify-content-between">

        <div class="col-12 col-md-7 mt-2 mt-sm-4 ms-1 ms-sm-2 ms-md-5">
            <h3 class="pb-2">Habilidades Blandas y Duras</h3>

            <div class="row">

                <div class="col-6 pb-2" *ngFor="let Habilidades of hab">
                    {{Habilidades.nombreH}} 
                    <div class="progress">
                        <div class="progress-bar bg-warning" role="progressbar" aria-label="Success example" [style]="'width: ' + Habilidades.porcentajeH" attr.aria-valuenow="{{Habilidades.porcentajeH}}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>

                    <div class="mt-2">
                        <app-edit-skills *ngIf="isLogged" [habi]="Habilidades" class="mx-1"> </app-edit-skills> 
                        <button *ngIf="isLogged" type="button" class="btn btn-danger btn-sm mx-1" (click)="delete(Habilidades.id)"> 
                            <i class="bi bi-trash3"> </i>
                        </button>
                    </div>
                </div>
                
            </div>

            <div class="row">
                <app-new-skills *ngIf="isLogged"> </app-new-skills>
            </div>
            
        </div>


        <div class="col-12 col-md-4 mt-2 mt-sm-4">
            <h3 class="pb-2">Idiomas</h3>

            <div class="row" *ngFor="let Idiomas of idi">

                <div class="col-4 col-md-12 mt-2">{{Idiomas.nombreI}} - {{Idiomas.nivelI}}
                    
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-info" role="progressbar" aria-label="Success striped example" [style]="'width:' + Idiomas.porcentajeI " attr.aria-valuenow="{{Idiomas.porcentajeI}}" aria-valuemin="0" aria-valuemax="100">{{Idiomas.porcentajeI}} </div>
                        
                    </div>
                   
                </div>

                <div class="mt-2">
                    <app-edit-idiomas *ngIf="isLogged" [idi]="Idiomas" class="mx-1"> </app-edit-idiomas> 
                    <button *ngIf="isLogged" type="button" class="btn btn-danger btn-sm mx-1" (click)="delete(Idiomas.id)"> 
                        <i class="bi bi-trash3"> </i>
                    </button>
                </div>

            </div>

            <div>
                <app-new-idiomas *ngIf="isLogged"> </app-new-idiomas>
            </div>



        </div>

    </div>

</article>
 <!--  






-->