<!-- EXPERIENCIA  -->
<article class="about container-fluid" id="experiencia">
    <hr class="lila">
    <div class="row">
        <div class="col mt-2 mt-sm-4 ms-1 ms-sm-2 ms-md-5">
            <h3>Experiencia</h3>
        </div>
    </div>
    
    <div *ngFor="let job of jobs; last as isLast"> 
        <div class="row">
            <div class="col-2 text-center align-self-center">
                <img [src]="job.image" width="90" class="img-fluid" alt="logo {{job.company}}">
            </div>
            <div class="col">
                <h5> {{job.position}} / {{job.company}} </h5>
                <p>{{job.date}}</p>
                <p>{{job.description}}</p>
            </div>
            <hr class="border border-primary border-1 opacity-25 mx-5" *ngIf="!isLast">
        </div>
        
    </div>
</article>
