<article class="container-fluid" id="proyectos">
    <hr class="lila">
    <div class= "row mb-4">
        <div class="col mt-2 mt-sm-4 ms-1 ms-sm-2 ms-md-5">
            <h3> Proyectos</h3>
        </div>
        <div class="row" *ngFor="let project of projects">
            <div class="col-2 text-center align-self-center">
                <img [src]="project.image" width="60" class="img-fluid" alt=" ">
            </div>
            <div class="col">
                <h5>{{project.name}} </h5>
                <p>{{project.date}}</p>
                <p>{{project.description}}</p>
            </div>
        </div>
    </div>
</article>
