<!-- ARTICLE SOBRE MI    -->
<article class="about container-fluid" id="about">

    <!-- BANNER! -->
    <div class="row ">
        <div class="col-12 px-0">
            
            <img [src]="persona.backImage" class="img-fluid"  alt="Woman in Tech">
            
        </div>
    </div>

    <!-- FOTO PERFIL - NOMBRE Y BREVE RESUMO -->
    <div class="row c-foto-perfil">
        <div class="col-3">
            <img [src]="persona.image" id="foto-perfil" class="rounded-circle border border-1" alt="foto de perfil">
            
        </div>

        <div class="col-9 mt-2 mt-sm-4">
            <h2>{{persona.nombre}} {{persona.apellido}} </h2> 

            <p class="mb-0">{{persona.posicion}}  </p>
            <p>{{persona.ciudad}} </p> 
            <p>{{persona.bio}}  </p>
            
        </div>
        
    </div>   

</article>