<!-- Button -->
<button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" [attr.data-bs-target]="'#editEdu-' + edu.id">
    
    <i class="bi bi-pencil-square"></i>
</button>

<!-- Modal -->

<div class="modal fade" [attr.id]="'editEdu-' + edu.id" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <p class="modal-title fs-5">Editar info sobre educación</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="m-3">

                <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                    <div class="form-group">
                        <label for="tituloE">Nombre de la formación:</label>
                        <input type="text" class="form-control" id="tituloE" name="tituloE" [(ngModel)]="edu.tituloE" required>
                        
                    </div>
                    <div class="form-group">
                        <label for="escuelaE">Nombre de la escula:</label>
                        <input type="text" class="form-control" id="escuelaE" name="escuelaE" [(ngModel)]="edu.escuelaE" required>
                    </div>
                    <div class="form-group">
                        <label for="dataE">Fecha de los estudios:</label>
                        <input type="text" class="form-control" id="dataE" name="dataE" [(ngModel)]="edu.dataE" required>
                    </div>
                    <div class="form-group">
                        <label for="descripcionE">Descripción del aprendido:</label>
                        <input type="text" class="form-control" id="descripcionE" name="descripcionE" [(ngModel)]="edu.descripcionE" required>
                    </div>
                    <div class="form-group">
                        <label for="imagenE">URL de la imagen de la escuela/curso:</label>
                        <input type="text" class="form-control" id="imagenE" name="imagenE" [(ngModel)]="edu.imagenE" required>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary btn-sm" data-bs-dismiss="modal">Actualizar</button>
                        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

