<!-- Button -->
<button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#adminFiles">
    <i class="bi bi-pencil-square"></i>
</button>

<!-- Modal -->
<div class="modal fade" id="adminFiles" tabindex="-1" aria-labelledby="adminFiles" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title fs-5" id="adminFiles">Ingresar la URL de la imagen:</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="m-3">
                <input class="form-control" id="formFile">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm">Guardar</button>
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>