.titulo{
    font-family: 'Atkinson Hyperlegible';font-size: 22px;
    
}

/* .nav-font{
    /* font-family: 'Silkscreen', cursive;
    font-family: 'Encode Sans', sans-serif;
} 
*/

nav.navbar, .gradient-nav{
    background: rgb(15,2,2);
    background: linear-gradient(90deg, rgba(15,2,2,0.9836309523809523) 24%, rgba(254,16,133,1) 64%);
    font-family: 'Encode Sans', sans-serif;
}

.icon-black {
    color:black
}

#foto-perfil{
    width: 100%;
    max-width: 200px;
    margin-top: -20%;
    margin-left: 3%;
}

footer {
    color: white;
}

h3 {
    color: rgb(63, 10, 10);
    /* text-decoration: underline; */
}

.lila {
    color: rgba(216, 24, 152, 0.63)
}