<!-- NAV-BAR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- Container wrapper Nav-bar -->
    <div class="container-fluid sm-5">
        <a class="navbar-brand" href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa" target="_blank">
            <img src="assets/imagenes/logo_ap_.png" alt="" width="40" class="d-none d-md-inline-block me-3">
            <img src="assets/imagenes/logo_ap1.png" alt="" width="120" class="d-inline-block d-md-none">
            <span class="d-none d-md-inline">Argentina Programa - #YoProgramo</span> 
        </a>  		
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Collection of nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <div class="navbar-nav ms-auto">
                <a href="https://www.linkedin.com/in/kacrisa/"  target="_blank" class="nav-item nav-link"><i class="bi bi-linkedin text-white"></i></a>
                <a href="https://github.com/kacrisa"  target="_blank" class="nav-item nav-link"><i class="bi bi-github text-white"></i></a>
                <a href="https://www.instagram.com/kacrisa/"  target="_blank" class="nav-item nav-link"><i class="bi bi-instagram text-white"></i></a>
                
                <!-- Login: -->
                
                <app-log-in *ngIf="!isAdmin"></app-log-in>
                <app-log-out *ngIf="isAdmin"></app-log-out>
             
            </div>
        </div>
    </div>
</nav>

