<!-- ARTICLE SOBRE MI    -->
<article class="about container-fluid" id="about">

    <!-- BANNER! -->
    <div class="row  ">
        <div class="col-12 px-0">
            <img src="assets/imagenes/wtech4.png" class="img-fluid"  alt="Woman in Tech">
        </div>
    </div>

    <!-- FOTO PERFIL - NOMBRE Y BREVE RESUMO -->
    <div class="row c-foto-perfil">
        <div class="col-3">
            <img src="assets/imagenes/kacrisa.png" id="foto-perfil" class="rounded-circle border border-1" alt="Kacrisa">
        </div>

        <div class="col-9 mt-2 mt-sm-4">
            <h2>Karen Cristiane dos Santos</h2>
            <p class="mb-0">Full Stack Developer Jr</p>
            <p>Buenos Aires - Argentina</p>
            <p>Luego de dedicarme 6 años a soporte, ahora emprendo un viaje en la programación!</p>    
        </div>
        
    </div>   

</article>

<article id="experiencia">
    <hr class="lila">
    <div class="row">
        <div class="col mt-2 mt-sm-4 ms-1 ms-sm-2 ms-md-5">
            <h3>Experiencia</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-2 text-center align-self-center">
            <img src="assets/imagenes/logo_softline.jpg" width="90" class="img-fluid" alt="logo Softline">
        </div>
        <div class="col">
            <h5>Delivery Engineer / Softline </h5>
            <p>Abril/2022 – Actualidad</p>
            <p>La empresa comercializa soluciones en la nube, mi rol es brindar soporte para los clientes que lo necesiten. En su mayoría para los productos de Microsoft (M365, Azure).</p>
        </div>
    </div>
    <hr class="border border-primary border-1 opacity-25 mx-5">
    <div class="row">
        <div class="col-2 text-center align-self-center">
            <img src="assets/imagenes/logo_axa.png" width="60" class="img-fluid" alt="Logo Axa Assistance">
        </div>
        <div class="col">
            <h5>Técnico HelpDesk / Axa Partners </h5>
            <p>Febrero/2018 – Febrero/2022</p>
            <p>Altas, bajas y modificaciones de accesos en los sistemas de la empresa. Soporte técnico de software,cliente/servidor. Experiencia práctica con Windows, Active Directory, Office 365, AVAYA , ServiceNow, Airwatch,Salesforce y gestión de incidentes críticos. Atención trilingüe (inglés/español/portugués) para países de América.</p>
        </div>
    </div>
</article>
