<article class="container-fluid" id="education">
    <hr class="lila">
    <div class="row">
        <div class="col mt-2 mt-sm-4 ms-1 ms-sm-2 ms-md-5">
            <h3>Educación</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-2 text-center align-self-center">
            <img src="assets/imagenes/logo_ap_b.png" width="70" class="img-fluid" alt="Argentina Programa ">
        </div>
        <div class="col">
            <h5>Argentina Programa</h5>
            <p> 2022 - En progreso</p>
            <p>Política pública que busca capacitar a nuevos talentos dentro del universo de la programación, formando un Full Stack Developer Jr.</p>
        </div>
    </div>
    <hr class="border border-primary border-1 opacity-25 mx-5">
    <div class="row">
        <div class="col-2 text-center align-self-center">
            <img src="assets/imagenes/logo_mcer_r.png" width="90" class="img-fluid" alt="Logo Microsoft Certified ">
        </div>
        <div class="col">
            <h5> Microsoft Certified </h5>
            <div class="row">
                <div class="col-12 col-md-6 mt-2">
                    <h6> Azure Fundamentals</h6>
                    <p>2021</p>
                    <p>Conceptos iniciales de Azure, diseño e implementación de soluciones de Azure.
                    </p>
                </div>
                <div class="col-12 col-md-6 mt-2">
                    <h6>Microsoft 365 Fundamentals</h6>
                    <p>2022</p>
                    <p>Se conocen las soluciones para la administración de puntos de conexión y aplicaciones, la virtualización de escritorio, la implementación automatizada del sistema operativo, los informes y análisis completos y con las licencias de Microsoft 365</p>
                </div>
            </div>
        </div>
    </div>
    <hr class="border border-primary border-1 opacity-25 mx-5">
    <div class="row">
        <div class="col-2 text-center align-self-center">
            <img src="assets/imagenes/logo_edIT.png" width="90" class="img-fluid" alt=" ">
        </div>
        <div class="col">
            <h5> Educación IT </h5>
            <div class="row">
                <div class="col-12 col-md-6 mt-2">
                    <h6> Introducción a Base de Datos y SQL</h6>
                    <p> 2019 </p>
                    <p>Conocí como las bases de datos funcionan, cómo se instalan, las diferencias entre los distintos motores (SQL Server, MySQL, Oracle, etc.) y el lenguaje de consultas SQL.</p>
                </div>
                <div class="col-12 col-md-6 mt-2">
                    <h6> Introducción a Redes de Sistemas y Telecomunicaciones</h6>
                    <p> 2020 </p>
                    <p>En este curso aprendí a armar y configurar una red LAN-WAN-MAN. Conocí todo lo referente al mundo de redes, protocolos TCP/IP, Topologías, Modelo OSI, medios de transmisión, etc.</p>
                </div>
            </div>
        </div>
    </div>
    <hr class="border border-primary border-1 opacity-25 mx-5">
    <div class="row">
        <div class="col-2 text-center align-self-center">
            <img src="assets/imagenes/logo_uem.png" width="70" class="img-fluid" alt=" ">
        </div>
        <div class="col">
            <h5> Licenciatura en Pedagogia / Universidade Estadual de Maringá</h5>
            <p> 2009 – 2012 </p>
            <p> Curso superior en Pedagogía de la Educación finalizado en la Universidade Estadual de Maringá en Brasil.</p>
        </div>
    </div>
</article>